@(groupName:String, monitors: Seq[Monitor])
<p style="margin:0px"><span style="font-family:微軟正黑體,sans-serif">@groupName：@{monitors.length}台</span><br></p>
<table cellpadding="2" cellspacing="2" border="1"
       style="font-size:10pt;font-family:Verdana,Arial,Helvetica,sans-serif;width:100%;border-collapse:collapse;border:1px solid black">
    <tbody>
    <tr>
        <td style="width:70px">設備序號</td>
        <td style="width:70px">名稱</td>
        <td style="width:138.429px">
            <div>超連結</div>
        </td>
    </tr>
    @for(m <- monitors){
    <tr>
        <td style="width:70px">
            @{m._id}
        </td>
        <td style="width:70px">
            @{m.desc}
        </td>
        <td style="width:138.429px">
            @if(m.location.isDefined){
            <a href="https://maps.google.com?q=@{m.location.get(1)},@{m.location.get(0)}" target="_blank">google map連結</a>
            }
        </td>
    </tr>
    }
    </tbody>
</table>